<ng-template #content let-modal>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Creación de nuevo contacto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>



        <div class="modal-body">

          <div class="container m-5" >
            <form #afiliadoForm="ngForm" (ngSubmit)="addAfiliado(afiliadoForm)">
              <input type="hidden" name="_id"  [(ngModel)]="affiliateService.selectedAfiliado._id">
              <input type="hidden" name="userName" [(ngModel)]="userNameCurrent">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label >Fecha</label>
                  <input type="text" class="form-control" name="date"
                         [(ngModel)]="affiliateService.selectedAfiliado.date" placeholder="Fecha de nacimiento">
                </div>
                <div class="form-group col-md-6">
                  <label>Nombre Completo</label>
                  <input type="text" class="form-control" name="fullName"
                         [(ngModel)]="affiliateService.selectedAfiliado.fullName" placeholder="Nombre completo">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Dirección</label>
                  <input type="text" class="form-control" name="address"
                         [(ngModel)]="affiliateService.selectedAfiliado.address" placeholder="Dirección">
                  <div class="container">
                    <div #map style="width:50%;height:250px"></div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Profesión</label>
                  <input type="text" class="form-control" name="profession"
                         [(ngModel)]="affiliateService.selectedAfiliado.profession" placeholder="Profesión/Ocupación">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="hidden" class="form-control" name="positionLat"
                         [(ngModel)]="affiliateService.selectedAfiliado.positionLat" placeholder="latitud">
                </div>
                <div class="form-group col-md-6">
                  <input type="hidden" class="form-control" name="positionLng"
                         [(ngModel)]="affiliateService.selectedAfiliado.positionLng" placeholder="longitud">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label >Teléfono/celular</label>
                  <input type="text" class="form-control" name="phone"
                         [(ngModel)]="affiliateService.selectedAfiliado.phone" placeholder="Teléfono/celular">
                </div>
                <div class="form-group col-md-6">
                  <label >No. Identificación</label>
                  <input type="text" class="form-control" name="identification"
                         [(ngModel)]="affiliateService.selectedAfiliado.identification" placeholder="No. Identificación">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label >Observaciones</label>
                  <input type="text" class="form-control" name="observations"
                         [(ngModel)]="affiliateService.selectedAfiliado.observations" placeholder="Observaciones">
                </div>
              </div>

            </form>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          <button type="submit" class="btn btn-primary" style="margin: 10px"><i class="far fa-save"></i> Guardar</button>
          <button type="button" class="btn btn-secondary"><i class="far fa-times-circle"></i> Cancelar</button>
        </div>


      </div>
    </div>
  </div>





</ng-template>





<!--
<ng-template #content let-modal>
  <div class="modal-header">

  </div>
  <div class="container m-5" *ngIf="isNewAffiliate">
    <form #afiliadoForm="ngForm" (ngSubmit)="addAfiliado(afiliadoForm)">
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="affiliateService.selectedAfiliado._id">
      <input type="hidden" name="userName" #userName="ngModel" [(ngModel)]="userNameCurrent">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Fecha</label>
          <input type="text" class="form-control" name="date" #date="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.date" placeholder="Fecha de nacimiento">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre Completo</label>
          <input type="text" class="form-control" name="fullName" #fullName="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.fullName" placeholder="Nombre completo">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Dirección</label>
          <input type="text" class="form-control" name="address" #search
                 [(ngModel)]="affiliateService.selectedAfiliado.address" placeholder="Dirección">
          <div class="container">
            <div #map style="width:50%;height:250px"></div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Profesión</label>
          <input type="text" class="form-control" name="profession" #profession="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.profession" placeholder="Profesión/Ocupación">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="hidden" class="form-control" name="positionLat" #positionLat="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.positionLat" placeholder="latitud">
        </div>
        <div class="form-group col-md-6">
          <input type="hidden" class="form-control" name="positionLng" #positionLng="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.positionLng" placeholder="longitud">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Teléfono/celular</label>
          <input type="text" class="form-control" name="phone" #phone="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.phone" placeholder="Teléfono/celular">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">No. Identificación</label>
          <input type="text" class="form-control" name="identification" #identification="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.identification" placeholder="No. Identificación">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Observaciones</label>
          <input type="text" class="form-control" name="observations" #observations="ngModel"
                 [(ngModel)]="affiliateService.selectedAfiliado.observations" placeholder="Observaciones">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin: 10px"><i class="far fa-save"></i> Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar(afiliadoForm)"><i class="far fa-times-circle"></i> Cancelar</button>
    </form>
  </div>
</ng-template>
-->
<a (click)="open(content)"> Nuevo contacto</a>

