<div class="container m-5">
  <div class="card">
    <h5 class="card-header">Perfil</h5>
    <div class="card-body">
      <h5 class="card-title"><i class="far fa-user"></i> {{ User.names }} {{ User.surnames }}</h5>
      <p class="card-text card-text-userName">{{ User.userName }}</p>
      <p class="card-text"><i class="fas fa-landmark"></i> {{ User.position }}</p>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ User.place }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
