<div class="card">
  <h5 class="card-header">Parámetros Electorales</h5>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group has-icon col-md-6">
          <label>Departamento</label>
          <span class="far fa-flag form-control-feedback"></span>
          <select class="form-control"   placeholder="Dpto">
            <option selected></option>           
          </select>
        </div>
        <div class="form-group has-icon col-md-6">
          <label>Municipio</label>
          <span class="far fa-flag form-control-feedback"></span>
          <select class="form-control"   placeholder="Municipio">
            <option selected></option>           
          </select>
        </div>
      </div>  
      <div class="form-row">
        <div class="form-group has-icon col-md-9">
          <label>Puesto de votación</label>
          <span class="fas fa-vote-yea form-control-feedback"></span>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Cantidad mesas</label>
          <input type="text" class="form-control">
        </div>    
      </div>
      <div class="form-row">
          <div class="form-group has-icon col-md-12">
            <label>Ubicación de votación</label>
            <span class="fas fa-landmark form-control-feedback"></span>
            <input type="text" class="form-control">
          </div>             
        </div>  
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>   
  </div>
</div>