<div class="container m-5">
  <div class="row">
    <div class="col-4">
      <div class="text-center"><span><b>Lideres</b></span></div>
      <app-loading class="container" *ngIf="isLoadingLeaders"></app-loading>
      <div style="overflow:auto; width:300px;height:450px;">
        <div class="list-group" style="margin-top: 10px">
          <a  class="list-group-item list-group-item-action animated fadeIn fast" data-toggle="list"
            [ngClass]="{'active': i === 0}" style="cursor: pointer" *ngFor="let leader of afiliadosLeader; let i = index;" 
            (click)="verLeader(leader)">
            <ngx-avatar size="50" [name]="leader.leader.split(' ')[0]"></ngx-avatar>
            <div class="capitalize" style="padding-left: 60px; margin-top: -35px"><h6>{{leader.leader}}</h6></div>          
          </a>
        </div>
      </div>                     
    </div>      
    <div class="col-8">
      <div class="text-center"><span><b>Referidos</b></span></div>
      <app-loading class="container" *ngIf="isLoadingReferences" ></app-loading>
      <div class="row" *ngIf="!isLoadingReferences">        
          <div class="col-sm-6" style="margin-top: 10px" *ngFor="let reference of references">
              <div class="card shadow-sm p-6 mb-10 bg-white rounded">                    
                <div class="card-body animated fadeIn fast">
                  <div class="row">
                    <div class="col-4">
                        <ngx-avatar size="45" [name]="reference.names.split(' ')[0]"></ngx-avatar>
                    </div>
                    <div class="col-8" style="margin-left: 60px; margin-top: -50px">                      
                      <h6 class="card-title capitalize">{{ reference.names }} {{ reference.surnames.split(" ")[0] }} {{ reference.surnames.split(" ")[1] | slice:0:1}}</h6>
                      <div class="font-size gray" style="margin-top: -10px">                        
                        <div><span class="card-text"><i class="far fa-id-card"></i> {{ reference.identification }}</span></div>
                        <div *ngIf="reference.phone != (null || '')"><span class="card-text"><i class="fas fa-phone"></i> {{ reference.phone }}</span></div>
                        <div *ngIf="reference.subdivision != (null || '')"><span class="card-text"><i class="fas fa-map-marker-alt"></i> {{ reference.subdivision }} </span></div>                                                                          
                      </div>                      
                    </div>                           
                  </div>                                                     
                </div>
              </div>
            </div>
      </div>                                                                        
    </div> 
  </div>
</div>

