<app-loading class="container" *ngIf="isLoading" ></app-loading>

<div class="wrapper fadeInDown zero-raduis" *ngIf="!isLoading">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      <h2 class="my-5">Inicio de Sesión</h2>
    </div>
    <div class="alert alert-danger text-center m-5" role="alert" *ngIf="isAlert">
      El usuario o la contraseña es incorrecta
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login(usuario)">
      <div class="inner-addon left-addon">
        <i class="fas fa-user fa-lg"></i>
        <input type="text" [(ngModel)] = "usuario.userName"  class="form-control fadeIn third zero-raduis" name="email" placeholder="nombre de usuario">
      </div>
      
      <div class="inner-addon left-addon">
        <i class="fas fa-lock fa-lg"></i>
         <input type="password" [(ngModel)] = "usuario.password" class=" form-control fadeIn third zero-raduis" name="password" placeholder="contraseña">
      </div>
     
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidó su contraseña?</a>
      </div>
      <input type="submit" class="btn btn-primary fadeIn fourth zero-raduis" value="Inicia sesión">
    </form>

  
  </div>
</div>




