.custom-button{
    background-color: #215f80;
}

.has-icon .form-control {
    padding-left: 2.375rem;
}
.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.red {
    border-color: red;
}
.gray {
    border-color: #e7eaed;
}
.custom-button-2{
    background-color: #0a5c5a;
}
.custom-thead{
    background-color: #1b3646;
}