<nav class="navbar navbar-dark navbar-custom navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="#">Mapeo Politico</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isLogged">
        <a class="nav-link" [routerLink]="['afiliados']"><i class="fas fa-users"></i>  Contactos</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isLogged">
        <a class="nav-link" [routerLink]="['lideres']"><i class="fas fa-fist-raised"></i>  Lideres</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isLogged">
        <a class="nav-link" [routerLink]="['graficos']"><i class="fas fa-chart-pie"></i>  Estadisticas</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isLogged">
        <a class="nav-link" [routerLink]="['mapa']"><i class="fas fa-globe-americas"></i>  Georeferencia</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="auth.isLogged">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown"  *ngIf="auth.isLogged">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i>
          Opciones
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="cursor: pointer" (click)="settingsUser()"><i class="fas fa-user-circle"></i>  {{auth.user}}</a>
          <a class="dropdown-item dropdown-item-fullname text-light" (click)="settingsUser()">{{auth.userInfo.names}} {{auth.userInfo.surnames}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" (click)="account()">Cuenta y parámetros</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Cerrar sesión  <i class="fas fa-sign-in-alt"></i></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<app-loading class="container" *ngIf="isLoading" ></app-loading>

